body{
    font-size: 2px;
    font-family: sans-serif;
    font-weight: 400;
    color: #212529;
    overflow: hidden;
}

.navbar{
    text-align: right;
    position: relative;
    top: -20px;
    background-color: white;
}


.navv{
    
    display: inline;
    padding: 5px 60px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.896px;

}

.rmm{
    font-size: 40px;
    display: inline;
    position: relative;
    right: 200px;
    font-weight: bold;
}

.pic{
    width: 80px;
    position: relative;
    right: 200px;
    top: 30px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50px ;
}


.half{
    background-color: black;
    width: 2000px;
    position: relative;
    right: 15px;
    top: 30px;
}


.laun{
    background-size: cover;
    position: relative;
    right: 15px;
    top: 0px;
    opacity: 30%;
}

.para{
    position: relative;
    bottom: 850px;
    z-index: 1;
    font-size: 60px;
    color: white;
    left: 155px;
}

.smoll{
    font-size: 35px;
}

.cont{
    width: 200px;
    height: 50px;
    position: relative;
    bottom: 800px;
    left: 200px;
    font-size: 20px;
    letter-spacing: 0.8px;
}